<!-- images were retireved from bestbuy.ca-->
<div id="mainImg">
    <h1>Deal of the Week!</h1>
    <img
        width="800"
        alt="Best Buy Logo"
        src="assets/img/dealoftheday.PNG" 
    />

</div>

<div id="topProds">
    <h2>Top Products</h2>
    <!-- Each section is a top product-->
    <section>
        <img
            width="150"
            alt="item1"
            src="assets/img/item1.PNG" 
        />

        <p>Microsoft Surface 2 13.5" Touchscreen Laptop - Burgundy
        (Intel Core i7/512GB SSD/16GB RAM) - English</p>

        <h3>$2,399.97</h3>

    </section>

    <section>
        <img
            width="150"
            alt="item2"
            src="assets/img/item2.PNG" 
        />

        <p>Apple iMac (MMQA2LL/A) 21.5" Intel Core i5 
        Dual-Core 7th Gen 2.3 GHz Computer - English</p>

        <h3>$1,299.99</h3>


    </section>

    <section>
        <img
            width="150"
            alt="item3"
            src="assets/img/item3.PNG" 
        />

        <p>HP Pavilion Desktop PC - Natural Silver 
        (AMD A12-9800/2TB HDD/12GB RAM/Windows 10) - English</p>

        <h3>$799.99</h3>


    </section>

    <section>
        <img
            width="150"
            alt="item4"
            src="assets/img/item4.PNG" 
        />

        <p>Canon PIXMA TR8520 Wireless All-In-One Inkjet Printer</p>

        <h3>$99.99</h3>

    </section>


</div>