<div class="productList">
    <h1>Products</h1>

    <section>
        <img
            width="100"
            alt="prod1"
            src="assets/img/prod1.PNG" 
        />

        <p>Apple iPad 10.2" 32GB with Wi-Fi - Space Grey (7th Generation)</p>

        <h3>$429.99</h3>

    </section>

    <section>
        <img
            width="150"
            alt="prod2"
            src="assets/img/prod2.PNG" 
        />

        <p>Amazon Kindle 6" Digital eBook Reader with Touchscreen (B07FQ4DJ83) - Black </p>

        <h3>$119.99</h3>

    </section>

    <section>
        <img
            width="150"
            alt="prod3"
            src="assets/img/prod3.PNG" 
        />

        <p>Razer Cynosa Chroma Backlit Gaming Keyboard - English</p>

        <h3>$79.99</h3>

    </section>

    <section>
        <img
            width="150"
            alt="prod4"
            src="assets/img/prod4.PNG" 
        />

        <p>Samsung 24" 1080p HD 60Hz 4ms LED Monitor (LS24F350FHNXZA)</p>

        <h3>$149.99</h3>

    </section>

    <section>
        <img
            width="150"
            alt="prod5"
            src="assets/img/prod5.PNG" 
        />

        <p>Acer Nitro Gamign PC (Intel Core ci7-9700/1TB HDD/128GB SSD /12GB RAM/ Windows 10)</p>

        <h3>$1,499.99</h3>

    </section>

    <section>
        <img
            width="150"
            alt="prod6"
            src="assets/img/prod6.PNG" 
        />

        <p>Samsung Galaxy A70 128GB - Black - Unlocked</p>

        <h3>$629.99</h3>

    </section>
</div>
