<div id="register">
        <h2>Register</h2>
        <form>
            First Name:<br>
            <input type="text" required><br>
            <br>
            Last Name:<br>
            <input type="text" required><br>
            <br>
            Email Address:<br>
            <input type="email" required><br>
            <br>
            User name:<br>
            <input type="text" required><br>
            <br>
            Password:<br>
            <input type="password" required><br>
            <br>
            <input type="submit" value="Register">
        </form>
    </div>
